---
import type { Project } from "@/types";
import { Roles } from "./roles";
import Media from "./media.astro";
import Tools from "./tools.astro";
import GoToProject from "./go-to-project.astro";
import { Aurora } from "./aurora";
import Header from "./header.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props as Props;

// console.log(project.description());
---

<article
  class="flex flex-col gap-xl w-full h-full place-content-center"
>
  <Header {...project} class="" />
  <div
    class="grid grid-cols-12 row-span-12 gap-m h-full w-full max-h-[640px]"
  >
    <Media
      class="col-span-9 card row-span-12 h-full w-full bg-gradient-to-tr from-[#848485]/40 to-[#FFFEFE]/10"
      {...project}
    />
    <!-- <Aurora
    className="col-span-10  card p-0 *:rounded-2xl row-span-4 "
  /> -->

    <!-- <Roles
    roles={project.roles}
    className="col-span-2 card row-span-1 overflow-hidden"
    client:load
  /> -->

    <div class="col-span-3 relative card row-span-6">
      <Tools tools={project.tools} class="w-full h-full" />

      <div
        class="hidden absolute z-100 bottom-0 right-0 p-m"
      >
        <GoToProject
          caseStudyUrl={project.caseStudyUrl}
          class=""
        />
      </div>
    </div>
    <div class="col-span-3 relative card row-span-6">
      <Tools tools={project.tools} class="w-full h-full" />

      <div
        class="hidden absolute z-100 bottom-0 right-0 p-m"
      >
        <GoToProject
          caseStudyUrl={project.caseStudyUrl}
          class=""
        />
      </div>
    </div>
  </div>
</article>
