---
import { type ProjectHero } from "@/types";
import { Image } from "astro:assets";

const {
  title,
  description,
  image,
  client,
  images,
  homepageUrl,
  features,
  coverGradientFrom = "#4A5254",
  coverGradientTo = "#252A2F",
} = Astro.props as ProjectHero;

// const gradientClasses = [
//   `bg-gradient-to-bl`,
//   `from-[${coverGradientFrom}]`,
//   `to-[${coverGradientTo}]`,
// ];
---

<div
  class:list={[
    "grid grid-cols-10 p-m  *:w-full gap-m *:h-full   card bg-gradient-to-bl gradient",
  ]}
>
  <Image
    src={image}
    alt="hero-img"
    class="col-span-7 w-full h-full object-cover rounded-full"
    width={600}
    height={600}
  />
  <div class="flex flex-col gap-xl col-span-3 self-end">
    <div class="flex flex-col gap-s">
      <div
        class="flex w-max p-1 rounded-md bg-gradient-to-br from-accent to-link"
      >
        <div
          class="flex h-full w-full items-center justify-center px-s py-xs gradient"
        >
          <h6>{client}</h6>
        </div>
      </div>

      <h2>{title}</h2>
    </div>

    <p>{description}</p>
  </div>

  <style
    define:vars={{ coverGradientFrom, coverGradientTo }}
  >
    .gradient {
      background: linear-gradient(
        180deg,
        var(--coverGradientFrom),
        var(--coverGradientTo)
      );
    }
  </style>
</div>
