---
import { MovingBorderWrapper } from "@/components/ui/moving-border";
import type { Project } from "@/types";

import ProjectHero from "./project-hero.astro";
import ProjectDetails from "./project-details.astro";
import { Transition } from "@/components/ui/transition";
import { FadeUpStagger } from "@/components/ui/fade-up";

const {
  client,
  title,
  description,
  href,
  hero,
  features,
  roles,
  tools,
  featured,
  visible,
} = Astro.props as Project;

const reversed = featured ? featured % 2 === 0 : false;
---

<article
  class="flex flex-col gap-xl container mx-auto relative"
>
  <div
    transition:name="swapper"
    class:list={[
      "flex flex-col gap-s",
      reversed ? "items-end" : "items-start",
    ]}
  >
    <MovingBorderWrapper client:load>
      {client}
    </MovingBorderWrapper>
    <h3>
      {title}
    </h3>
    <p
      class:list={[
        "mt-s",
        reversed ? "text-right" : "text-left",
      ]}
    >
      {description}
    </p>
  </div>
  <div
    class:list={[
      "grid grid-cols-8 md:grid-cols-12 md:grid-rows-8 gap-m",
    ]}
  >
    {
      reversed ? (
        <Fragment>
          <ProjectDetails
            features={features}
            href={href}
            reversed={reversed}
          />
          <ProjectHero media={hero} />
        </Fragment>
      ) : (
        <Fragment>
          <ProjectHero media={hero} />
          <ProjectDetails
            features={features}
            href={href}
            reversed={reversed}
          />
        </Fragment>
      )
    }
  </div>
</article>
