---
import { MovingBorderWrapper } from "@/components/ui/moving-border";
import type { Project } from "@/types";
import ProjectHero from "./project-hero.astro";
import ProjectDetails from "./project-details.astro";
import { FadeUpStagger } from "@/components/ui/fade-up";

const {
  client,
  title,
  description,
  caseStudyUrl,
  hero,
  features,
  tools,
  featured,
  visible,
} = Astro.props as Project;

const reversed = featured ? featured % 2 === 0 : false;
---

<FadeUpStagger client:visible stagger={0.5} delay={0.4}>
  <article
    class="flex flex-col gap-xl max-w-[100svw] md:container mx-auto relative px-l sm:px-0"
  >
    <div
      class:list={[
        "flex flex-col gap-s",
        reversed ? "items-end" : "items-start",
      ]}
    >
      <MovingBorderWrapper client:visible>
        {client}
      </MovingBorderWrapper>
      <h3 class="text-3xl md:fluid:text-5xl">
        {title}
      </h3>
      <p
        class:list={[
          "mt-s",
          reversed ? "text-right" : "text-left",
        ]}
      >
        {description}
      </p>
    </div>
    <div
      class:list={[
        "grid grid-cols-12  grid-rows-10 sm:grid-rows-8 gap-m",
      ]}
    >
      {
        reversed ? (
          <Fragment>
            <ProjectDetails
              tools={tools}
              features={features}
              caseStudyUrl={caseStudyUrl}
              reversed={reversed}
              visible={visible}
            />
            <ProjectHero hero={hero} />
          </Fragment>
        ) : (
          <Fragment>
            <ProjectHero hero={hero} />
            <ProjectDetails
              tools={tools}
              features={features}
              caseStudyUrl={caseStudyUrl}
              reversed={reversed}
              visible={visible}
            />
          </Fragment>
        )
      }
    </div>
  </article>
</FadeUpStagger>
