---
import { MovingBorderWrapper } from "@/components/ui/moving-border";
import type { Project } from "@/types";
import Card from "@/components/ui/card.astro";
import { ProgressBar } from "@/components/ui/progress-bar";
import { ProjectCardStack } from "./project-card-stack";
import { ProjectFeatures } from "./project-features";
import Background from "@/components/ui/background.astro";
import { FallboxExample } from "./project-fallbox";
import ProjectHero from "./project-hero.astro";
import ProjectDetails from "./project-details.astro";

const {
  client,
  title,
  description,
  href,
  hero,
  features,
  roles,
  tools,
  featured,
} = Astro.props as Project;

const reversed = featured ? featured % 2 === 0 : false;
console.log("reversed", reversed);
---

<article
  class="flex flex-col gap-xl container mx-auto relative"
>
  <div
    class:list={[
      "flex flex-col gap-s",
      reversed ? "items-end" : "items-start",
    ]}
  >
    <MovingBorderWrapper client:load>
      {client}
    </MovingBorderWrapper>
    <h3>
      {title}
    </h3>
    <p
      class:list={[
        "mt-s",
        reversed ? "text-right" : "text-left",
      ]}
    >
      {description}
    </p>
  </div>
  <div
    class:list={[
      "grid grid-cols-8 md:grid-cols-12 md:grid-rows-8 gap-m",
    ]}
  >
    {
      reversed ? (
        <Fragment>
          <ProjectDetails
            features={features}
            href={href}
            reversed={reversed}
          />
          <ProjectHero media={hero.src} />
        </Fragment>
      ) : (
        <Fragment>
          <ProjectHero media={hero.src} />
          <ProjectDetails
            features={features}
            href={href}
            reversed={reversed}
          />
        </Fragment>
      )
    }
  </div>
</article>
