---
import { Section } from "@/components/ui/section";
import { Highlight } from "@/components/ui/highlight";
import Scalability from "../_assets/bhf-challenge-scalability.webp";
import Communication from "../_assets/bhf-challenge-communication.webp";
import Manual from "../_assets/bhf-challenge-manual.webp";
import Data from "../_assets/bhf-challenge-data.webp";
import { Image } from "astro:assets";
import { Separator } from "@/components/ui/separator";
import Card from "@/components/ui/card.astro";
import { cn } from "@/utils/cn";

const items = [
  {
    title: "Collaboration Gaps",
    descritpion:
      "Departments struggled to share crucial information, leading to delays and risking disruptions in production schedules, impacting revenue and customer satisfaction.",
    content: Communication,
  },
  {
    title: "Scalability Issues",
    descritpion:
      "As BHF continued to grow and expand its product lines, the current system couldn't keep pace, creating bottlenecks and slowing down operations.",
    content: Scalability,
  },
  {
    title: "Scalability Issues",
    descritpion:
      "As BHF continued to grow and expand its product lines, the current system couldn't keep pace, creating bottlenecks and slowing down operations.",
    content: Scalability,
  },
  {
    title: "Scalability Issues",
    descritpion:
      "As BHF continued to grow and expand its product lines, the current system couldn't keep pace, creating bottlenecks and slowing down operations.",
    content: Scalability,
  },
  {
    title: "Scalability Issues",
    descritpion:
      "As BHF continued to grow and expand its product lines, the current system couldn't keep pace, creating bottlenecks and slowing down operations.",
    content: Scalability,
  },
  {
    title: "Scalability Issues",
    descritpion:
      "As BHF continued to grow and expand its product lines, the current system couldn't keep pace, creating bottlenecks and slowing down operations.",
    content: Scalability,
  },
  {
    title: "Scalability Issues",
    descritpion:
      "As BHF continued to grow and expand its product lines, the current system couldn't keep pace, creating bottlenecks and slowing down operations.",
    content: Scalability,
  },
];
---

<Section
  client:visible
  idName="problem"
  title="The Challenge"
  backgroundColor="bgColorHero"
  minHeight="200svh"
  className="flex flex-col   items-center  relative corners-section after:bg-bgColorHero "
>
  <div
    class="grid grid-cols-12 gap-m container mx-auto grid-flow-row *:z-10"
  >
    <div class="my-3xl col-span-12 grid grid-cols-12 gap-m">
      <h3 class="col-span-4">
        Everyone Faces <span class="text-accent"
          >Challenges</span
        >
      </h3>
      <p class="col-span-5 row-start-2">
        Despite its global success, BHF recognized that
        their existing systems were holding them back from
        optimizing operations and enhancing overall
        efficiency. The company faced several key
        challenges: Scalability Issues, Manual Processes,
        Communication Issues, and more.
      </p>
      <p class="col-span-5 row-start-3">
        To tackle this complex challenge, BHF brought me on
        board to develop a comprehensive, ground-up ERP
        solution tailored to their unique needs.
      </p>

      <Separator
        className="col-span-4 row-start-4 mt-xl  h-[1.5px] my-m bg-accent/20"
      />
    </div>

    <div
      class="flex flex-row *:min-h-[50rem] col-span-12 gap-m mb-3xl *:flex *:flex-col *:gap-m *:p-xl overflow-x-scroll"
    >
      <div
        class="col-span-4 relative bg-gradient-to-b from-bgColor from-20% to-transparent rounded-3xl h-full"
      >
        <Image
          src={Communication}
          format="webp"
          alt="Communication gaps"
          height={800}
          width={400}
          class="absolute inset-0 -z-10 rounded-3xl object-cover"
          quality="high"
        />
        <h6>Collaboration Gaps</h6>
        <p class="text-left max-w-80">
          Departments struggled to share crucial
          information, leading to delays and risking
          disruptions in production schedules, impacting
          revenue and customer satisfaction.
        </p>
      </div>

      <div
        class="col-span-4 relative bg-gradient-to-b from-bgColor from-20% to-transparent rounded-3xl h-full"
      >
        <Image
          src={Scalability}
          format="webp"
          alt="Scalability"
          class="absolute inset-0 -z-10 rounded-3xl object-cover"
          quality="high"
        />
        <h6>Scalability Issues</h6>
        <p class="text-left max-w-80">
          Departments struggled to share crucial
          information, leading to delays and risking
          disruptions in production schedules, impacting
          revenue and customer satisfaction.
        </p>
      </div>
      <div
        class="col-span-4 relative bg-gradient-to-b from-bgColor from-20% to-transparent rounded-3xl h-full"
      >
        <Image
          src={Manual}
          format="webp"
          alt="Maual Operations"
          class="absolute inset-0 -z-10 rounded-3xl object-cover"
          quality="high"
        />
        <h6>Manual Operations</h6>
        <p class="text-left max-w-80">
          Many operations were still managed manually,
          which, while functional, were prone to errors and
          inefficiencies.
        </p>
      </div>
      <!-- <div
        class="col-span-4 relative bg-gradient-to-b from-bgColor from-20% to-transparent rounded-3xl h-full"
      >
        <Image
          src={Data}
          format="webp"
          alt="Data innacuracy"
          class="absolute inset-0 -z-10 rounded-3xl object-cover"
          quality="high"
        />
        <h6>Data Inaccuracy</h6>
        <p class="text-left max-w-80">
          Disparate data systems and lack of real-time
          information led to inconsistencies, affecting
          decision-making, forecasting accuracy, and
          financial reporting.
        </p>
      </div> -->
      <!-- <div
        class="col-span-4 rounded-3xl bg-neutral-900 h-80 w-56 md:h-[40rem] md:w-96 overflow-hidden flex flex-col items-start justify-start relative z-10"
      >
        <div
          class="absolute h-full top-0 inset-x-0 bg-gradient-to-b from-black/50 via-transparent to-transparent z-30 pointer-events-none"
        >
        </div>
        <div class="relative z-40 p-8">
          <p
            class="text-white text-sm md:text-base font-medium font-sans text-left"
          >
            Communication Issues
          </p>
          <p
            class="text-white text-xl md:text-3xl font-semibold max-w-xs text-left [text-wrap:balance] font-sans mt-2"
          >
            Departments struggled to share crucial
            information, leading to delays and risking
            disruptions in production schedules, impacting
            revenue and customer satisfaction.
          </p>
        </div>
        <Image
          src={Communication}
          alt="Communication Issues"
          class="object-cover absolute z-10 inset-0"
        />
      </div> -->
    </div>
  </div>
  <div class="relative w-full border-4">
    <div
      class="flex w-full overflow-x-scroll overscroll-x-auto py-10 md:py-20 scroll-smooth [scrollbar-width:none]"
    >
      <div
        class="absolute right-0 z-[1000] h-auto w-[5%] overflow-hidden bg-gradient-to-l"
      >
      </div>

      <div
        class={cn(
          "flex flex-row justify-start gap-4 pl-4"
          // "max-w-7xl mx-auto" // remove max-w-4xl if you want the carousel to span the full width of its container
        )}
      >
        {
          items.map((item, index) => (
            <div class="last:pr-[5%] md:last:pr-[33%]  rounded-3xl border-4">
              <div class=" w-full p-xl relative bg-gradient-to-b from-bgColor from-20% to-transparent rounded-3xl h-full min-w-[24rem]">
                {/* <Image
                  src={item.content}
                  format="webp"
                  alt={item.title}
                  class="absolute inset-0 -z-10 rounded-3xl object-cover"
                  quality="high"
                />
                <h6>{item.title}</h6>
                <p class="text-left max-w-80">
                  {item.descritpion}
                </p> */}
                <Image
                  src={Data}
                  format="webp"
                  alt="Data innacuracy"
                  class="absolute inset-0 -z-10 rounded-3xl object-cover"
                  quality="high"
                />
                <h6>Data Inaccuracy</h6>
                <p class="text-left max-w-80">
                  Disparate data systems and lack of
                  real-time information led to
                  inconsistencies, affecting
                  decision-making, forecasting accuracy, and
                  financial reporting.
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Section>
